.heart {
  font-family: CormorantInfant-Bold;
  position: relative;
  overflow: hidden; // Оставляем для предотвращения выхода контента за границы
	height: 340px;
}

.heart__img {
  height: 300px;
  width: 200px;
	top: 20px;
  position: relative;
  z-index: 1; // Задаем индекс слоя, чтобы изображение было под текстом
}

.love {
  position: absolute;	
  font-size: 50px;
  z-index: 2; // Текст выше изображения
  transform: translateY(0); // Стартовая позиция для параллакса
}

.alex {
  bottom: 200px;
  left: 0px;
  transform: translateY(0); // Возвращаем прежнее позиционирование
}

.nadi {
  right: 10px;
  bottom: 40px;
  transform: translateY(0); // Возвращаем прежнее позиционирование
}

